.banner {
  background-image: url(../imagenes/fotohome.jpg);
  background-size: cover;
  padding: 70px;
  height: 400px;
  background-position: 0px;
  #bannerText {
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    top: 20%;
    right: 20%;
    left: 20%;
    color: black;
    font-size: 3em;
  }
}