footer {
  display: flex;
  flex-wrap: wrap;
  background-color:$colorEspecial;
  padding: 1em;
  border-top: 1px solid black;
  justify-content: space-evenly;
  margin-top: 14em;
  .footerImg {
    width: $ftw;
  }
}
